# configs and data files
*.gpkg
*.fgb
*.mbtiles
*.pmtiles
*.yaml
# allow files already there
!tiles_config.yaml
!input.gpkg

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn

pacakge-lock.json

__pycache__